In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [14]:
excel_result = pd.read_csv('./raw_data/watch_cnt_myshop.csv', encoding='utf-8')

In [15]:
excel_result

                time   cnt
0       201612140000  3822
1       201612140001  3483
2       201612140002  3440
3       201612140003  3173
4       201612140004  3093
5       201612140005  2967
6       201612140006  2972
7       201612140007  3006
8       201612140008  2916
9       201612140009  2877
10      201612140010  2873
11      201612140011  2768
12      201612140012  2918
13      201612140013  3098
14      201612140014  3188
15      201612140015  3145
16      201612140016  3093
17      201612140017  2936
18      201612140018  2919
19      201612140019  2892
20      201612140020  2864
21      201612140021  2907
22      201612140022  2876
23      201612140023  2878
24      201612140024  2958
25      201612140025  3038
26      201612140026  3189
27      201612140027  3079
28      201612140028  3162
29      201612140029  3406
...              ...   ...
286530  201706302330  6628
286531  201706302331  6310
286532  201706302332  6209
286533  201706302333  6236
286534  201706302334  5854
286535  201706302335  5413
286536  201706302336  5026
286537  201706302337  4668
286538  201706302338  5124
286539  201706302339  5134
286540  201706302340  5356
286541  201706302341  5815
286542  201706302342  5890
286543  201706302343  6879
286544  201706302344  5724
286545  201706302345  5088
286546  201706302346  4914
286547  201706302347  4560
286548  201706302348  4495
286549  201706302349  4427
286550  201706302350  4363
286551  201706302351  4074
286552  201706302352  4033
286553  201706302353  4225
286554  201706302354  4165
286555  201706302355  4189
286556  201706302356  4365
286557  201706302357  4452
286558  201706302358  4399
286559  201706302359  4184

[286560 rows x 2 columns]

In [17]:
temp_srvc = []
for i in range(len(excel_result)):
    #print(i)
    temp_srvc.append('T');

In [18]:
excel_result['srvc'] = temp_srvc

In [19]:
excel_result

                time   cnt srvc
0       201612140000  3822    T
1       201612140001  3483    T
2       201612140002  3440    T
3       201612140003  3173    T
4       201612140004  3093    T
5       201612140005  2967    T
6       201612140006  2972    T
7       201612140007  3006    T
8       201612140008  2916    T
9       201612140009  2877    T
10      201612140010  2873    T
11      201612140011  2768    T
12      201612140012  2918    T
13      201612140013  3098    T
14      201612140014  3188    T
15      201612140015  3145    T
16      201612140016  3093    T
17      201612140017  2936    T
18      201612140018  2919    T
19      201612140019  2892    T
20      201612140020  2864    T
21      201612140021  2907    T
22      201612140022  2876    T
23      201612140023  2878    T
24      201612140024  2958    T
25      201612140025  3038    T
26      201612140026  3189    T
27      201612140027  3079    T
28      201612140028  3162    T
29      201612140029  3406    T
...              ...   ...  ...
286530  201706302330  6628    T
286531  201706302331  6310    T
286532  201706302332  6209    T
286533  201706302333  6236    T
286534  201706302334  5854    T
286535  201706302335  5413    T
286536  201706302336  5026    T
286537  201706302337  4668    T
286538  201706302338  5124    T
286539  201706302339  5134    T
286540  201706302340  5356    T
286541  201706302341  5815    T
286542  201706302342  5890    T
286543  201706302343  6879    T
286544  201706302344  5724    T
286545  201706302345  5088    T
286546  201706302346  4914    T
286547  201706302347  4560    T
286548  201706302348  4495    T
286549  201706302349  4427    T
286550  201706302350  4363    T
286551  201706302351  4074    T
286552  201706302352  4033    T
286553  201706302353  4225    T
286554  201706302354  4165    T
286555  201706302355  4189    T
286556  201706302356  4365    T
286557  201706302357  4452    T
286558  201706302358  4399    T
286559  201706302359  4184    T

[286560 rows x 3 columns]

# CSV 추출

In [13]:
if excel_result['srvc'][1] == 'T':
    excel_result.to_csv('./raw_data/20161231_20170630_myshop_channel_hourly.csv', header=False)
else:
    excel_result.to_csv('./raw_data/20161231_20170630_gsshop_channel_hourly.csv', header=False)