In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [88]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

#str_today = '20170722'
str_today

'20170927'

In [89]:
excel_result = pd.read_excel('./raw_data/유형별시청형태_채널_GS MY SHOP_시간별_1d_' + str_today + '.xlsx', sheetname='유형별>시간별_시청가구상세테이블',index_col=None, header=2)

In [90]:
index =  range(1, len(excel_result)+1)

In [91]:
temp = []
for i in index:
    temp.append(i)

In [92]:
rearranged_excel = pd.DataFrame(excel_result, columns={'조회시간':'time','시청가구':'cnt'})

In [93]:
drop_nan = rearranged_excel.reset_index(temp,drop=True)

In [94]:
drop_nan.rename(columns={'조회시간':'time'}, inplace=True)

In [95]:
drop_nan.rename(columns={'시청가구':'cnt'}, inplace=True)

In [96]:
df3 = drop_nan[drop_nan.time != '일평균']

In [97]:
df3.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440],
           dtype='int64', length=1440)

In [98]:
df3_new = pd.DataFrame(df3, columns=['cnt','time'])

In [99]:
df3_new.iloc[:,1] = str_today + df3_new['time'].str.replace(r'(시|분)','')
#df3.loc['time'] = str_today + df3['time'].str.replace(r'(시|분)','')

In [100]:
df3_new

       cnt          time
1     2583  201709270000
2     2216  201709270001
3     2073  201709270002
4     2160  201709270003
5     2199  201709270004
6     2229  201709270005
7     2233  201709270006
8     2259  201709270007
9     2414  201709270008
10    2356  201709270009
11    2394  201709270010
12    2426  201709270011
13    2166  201709270012
14    2307  201709270013
15    2408  201709270014
16    2218  201709270015
17    2247  201709270016
18    2259  201709270017
19    2251  201709270018
20    2319  201709270019
21    2269  201709270020
22    2059  201709270021
23    2104  201709270022
24    2385  201709270023
25    2324  201709270024
26    2439  201709270025
27    2685  201709270026
28    2789  201709270027
29    3332  201709270028
30    3463  201709270029
...    ...           ...
1411  1353  201709272330
1412  1288  201709272331
1413  1058  201709272332
1414  1003  201709272333
1415   993  201709272334
1416  1078  201709272335
1417  1220  201709272336
1418  1312  201709272337
1419  1233  201709272338
1420  1043  201709272339
1421  1022  201709272340
1422   969  201709272341
1423   946  201709272342
1424   955  201709272343
1425   926  201709272344
1426  1003  201709272345
1427  1121  201709272346
1428  1320  201709272347
1429  1049  201709272348
1430   964  201709272349
1431   946  201709272350
1432   910  201709272351
1433   926  201709272352
1434   884  201709272353
1435   903  201709272354
1436   982  201709272355
1437  1022  201709272356
1438  1115  201709272357
1439  1009  201709272358
1440   904  201709272359

[1440 rows x 2 columns]

In [101]:
temp_srvc = []
for i in range(len(df3_new)):
    #print(i)
    temp_srvc.append('T');

In [102]:
df3_new['srvc'] = temp_srvc

In [103]:
df3_new
#df3_arrange = pd.DataFrame(df3, columns=['cnt','time','srvc'])
#df3_arrange

       cnt          time srvc
1     2583  201709270000    T
2     2216  201709270001    T
3     2073  201709270002    T
4     2160  201709270003    T
5     2199  201709270004    T
6     2229  201709270005    T
7     2233  201709270006    T
8     2259  201709270007    T
9     2414  201709270008    T
10    2356  201709270009    T
11    2394  201709270010    T
12    2426  201709270011    T
13    2166  201709270012    T
14    2307  201709270013    T
15    2408  201709270014    T
16    2218  201709270015    T
17    2247  201709270016    T
18    2259  201709270017    T
19    2251  201709270018    T
20    2319  201709270019    T
21    2269  201709270020    T
22    2059  201709270021    T
23    2104  201709270022    T
24    2385  201709270023    T
25    2324  201709270024    T
26    2439  201709270025    T
27    2685  201709270026    T
28    2789  201709270027    T
29    3332  201709270028    T
30    3463  201709270029    T
...    ...           ...  ...
1411  1353  201709272330    T
1412  1288  201709272331    T
1413  1058  201709272332    T
1414  1003  201709272333    T
1415   993  201709272334    T
1416  1078  201709272335    T
1417  1220  201709272336    T
1418  1312  201709272337    T
1419  1233  201709272338    T
1420  1043  201709272339    T
1421  1022  201709272340    T
1422   969  201709272341    T
1423   946  201709272342    T
1424   955  201709272343    T
1425   926  201709272344    T
1426  1003  201709272345    T
1427  1121  201709272346    T
1428  1320  201709272347    T
1429  1049  201709272348    T
1430   964  201709272349    T
1431   946  201709272350    T
1432   910  201709272351    T
1433   926  201709272352    T
1434   884  201709272353    T
1435   903  201709272354    T
1436   982  201709272355    T
1437  1022  201709272356    T
1438  1115  201709272357    T
1439  1009  201709272358    T
1440   904  201709272359    T

[1440 rows x 3 columns]

# CSV 추출

In [104]:
if df3_new['srvc'][1] == 'T':
    df3_new.to_csv('./raw_data/' + str_today + '_myshop_channel_hourly.csv', header=False)
else:
    df3_new.to_csv('./raw_data/' + str_today + '_gsshop_channel_hourly.csv', header=False)