In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [35]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

# str_today = '20170710'
str_today

'20170713'

In [36]:
excel_result = pd.read_excel('./raw_data/유형별시청형태_채널_GS SHOP_시간별_1d_' + str_today + '.xlsx', sheetname='유형별>시간별_시청가구상세테이블',index_col=None, header=2)

In [37]:
index =  range(1, len(excel_result)+1)

In [38]:
temp = []
for i in index:
    temp.append(i)

In [39]:
rearranged_excel = pd.DataFrame(excel_result, columns={'조회시간':'time','시청가구':'cnt'})

In [40]:
drop_nan = rearranged_excel.reset_index(temp,drop=True)

In [41]:
drop_nan.rename(columns={'조회시간':'time'}, inplace=True)

In [42]:
drop_nan.rename(columns={'시청가구':'cnt'}, inplace=True)

In [43]:
df3 = drop_nan[drop_nan.time != '일평균']

In [44]:
df3.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440],
           dtype='int64', length=1440)

In [45]:
df3.iloc[:,1] = str_today + df3['time'].str.replace(r'(시|분)','')
#df3.loc['time'] = str_today + df3['time'].str.replace(r'(시|분)','')

/home/jason/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [46]:
df3

       cnt          time
1     4480  201707130000
2     4646  201707130001
3     4486  201707130002
4     4883  201707130003
5     5028  201707130004
6     4768  201707130005
7     4664  201707130006
8     4437  201707130007
9     4168  201707130008
10    4031  201707130009
11    3610  201707130010
12    3450  201707130011
13    3376  201707130012
14    3393  201707130013
15    3359  201707130014
16    3400  201707130015
17    3420  201707130016
18    3513  201707130017
19    3491  201707130018
20    3428  201707130019
21    3388  201707130020
22    3301  201707130021
23    3322  201707130022
24    3269  201707130023
25    3308  201707130024
26    3301  201707130025
27    3371  201707130026
28    3369  201707130027
29    3320  201707130028
30    3333  201707130029
...    ...           ...
1411  4697  201707132330
1412  4515  201707132331
1413  4410  201707132332
1414  4218  201707132333
1415  4333  201707132334
1416  4412  201707132335
1417  4439  201707132336
1418  4195  201707132337
1419  4321  201707132338
1420  4217  201707132339
1421  4249  201707132340
1422  4162  201707132341
1423  4443  201707132342
1424  5058  201707132343
1425  5314  201707132344
1426  5425  201707132345
1427  5279  201707132346
1428  4628  201707132347
1429  4669  201707132348
1430  4662  201707132349
1431  4468  201707132350
1432  4944  201707132351
1433  5144  201707132352
1434  4672  201707132353
1435  4371  201707132354
1436  4617  201707132355
1437  5184  201707132356
1438  4930  201707132357
1439  4344  201707132358
1440  4174  201707132359

[1440 rows x 2 columns]

In [47]:
temp_srvc = []
for i in range(len(df3)):
    #print(i)
    temp_srvc.append('L');

In [48]:
df3['srvc'] = temp_srvc

/home/jason/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [49]:
df3

       cnt          time srvc
1     4480  201707130000    L
2     4646  201707130001    L
3     4486  201707130002    L
4     4883  201707130003    L
5     5028  201707130004    L
6     4768  201707130005    L
7     4664  201707130006    L
8     4437  201707130007    L
9     4168  201707130008    L
10    4031  201707130009    L
11    3610  201707130010    L
12    3450  201707130011    L
13    3376  201707130012    L
14    3393  201707130013    L
15    3359  201707130014    L
16    3400  201707130015    L
17    3420  201707130016    L
18    3513  201707130017    L
19    3491  201707130018    L
20    3428  201707130019    L
21    3388  201707130020    L
22    3301  201707130021    L
23    3322  201707130022    L
24    3269  201707130023    L
25    3308  201707130024    L
26    3301  201707130025    L
27    3371  201707130026    L
28    3369  201707130027    L
29    3320  201707130028    L
30    3333  201707130029    L
...    ...           ...  ...
1411  4697  201707132330    L
1412  4515  201707132331    L
1413  4410  201707132332    L
1414  4218  201707132333    L
1415  4333  201707132334    L
1416  4412  201707132335    L
1417  4439  201707132336    L
1418  4195  201707132337    L
1419  4321  201707132338    L
1420  4217  201707132339    L
1421  4249  201707132340    L
1422  4162  201707132341    L
1423  4443  201707132342    L
1424  5058  201707132343    L
1425  5314  201707132344    L
1426  5425  201707132345    L
1427  5279  201707132346    L
1428  4628  201707132347    L
1429  4669  201707132348    L
1430  4662  201707132349    L
1431  4468  201707132350    L
1432  4944  201707132351    L
1433  5144  201707132352    L
1434  4672  201707132353    L
1435  4371  201707132354    L
1436  4617  201707132355    L
1437  5184  201707132356    L
1438  4930  201707132357    L
1439  4344  201707132358    L
1440  4174  201707132359    L

[1440 rows x 3 columns]

# CSV 추출

In [50]:
if df3['srvc'][1] == 'T':
    df3.to_csv('./raw_data/' + str_today + '_myshop_channel_hourly.csv', header=False)
else:
    df3.to_csv('./raw_data/' + str_today + '_gsshop_channel_hourly.csv', header=False)