In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [223]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

str_today = '20170710'

In [224]:
excel_result = pd.read_excel('./raw_data/유형별시청형태_채널_GS MY SHOP_시간별_1d_' + str_today + '.xlsx', sheetname='유형별>시간별_시청가구상세테이블',index_col=None, header=2)

In [225]:
index =  range(1, len(excel_result)+1)

In [226]:
temp = []
for i in index:
    temp.append(i)

In [227]:
rearranged_excel = pd.DataFrame(excel_result, columns={'조회시간':'time','시청가구':'cnt'})

In [228]:
drop_nan = rearranged_excel.reset_index(temp,drop=True)

In [229]:
drop_nan.rename(columns={'조회시간':'time'}, inplace=True)

In [230]:
drop_nan.rename(columns={'시청가구':'cnt'}, inplace=True)

In [231]:
df3 = drop_nan[drop_nan.time != '일평균']

In [232]:
df3.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440],
           dtype='int64', length=1440)

In [233]:
df3.iloc[:,1] = str_today + df3['time'].str.replace(r'(시|분)','')
#df3.loc['time'] = str_today + df3['time'].str.replace(r'(시|분)','')

/home/jason/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [234]:
df3

       cnt          time
1      719  201707100000
2      712  201707100001
3      770  201707100002
4      810  201707100003
5      778  201707100004
6      869  201707100005
7      836  201707100006
8      797  201707100007
9      921  201707100008
10     880  201707100009
11     789  201707100010
12     795  201707100011
13     801  201707100012
14     809  201707100013
15     866  201707100014
16     915  201707100015
17     929  201707100016
18     853  201707100017
19     791  201707100018
20     771  201707100019
21     740  201707100020
22     740  201707100021
23     784  201707100022
24     823  201707100023
25     812  201707100024
26     806  201707100025
27     775  201707100026
28     786  201707100027
29     911  201707100028
30     867  201707100029
...    ...           ...
1411  1269  201707102330
1412  1296  201707102331
1413  1070  201707102332
1414  1010  201707102333
1415  1009  201707102334
1416  1105  201707102335
1417  1111  201707102336
1418  1061  201707102337
1419  1063  201707102338
1420   998  201707102339
1421   982  201707102340
1422   949  201707102341
1423   922  201707102342
1424   900  201707102343
1425   868  201707102344
1426   910  201707102345
1427  1016  201707102346
1428  1241  201707102347
1429  1357  201707102348
1430  1222  201707102349
1431  1068  201707102350
1432  1035  201707102351
1433   999  201707102352
1434   948  201707102353
1435  1011  201707102354
1436  1211  201707102355
1437  1202  201707102356
1438  1234  201707102357
1439  1267  201707102358
1440  1095  201707102359

[1440 rows x 2 columns]

In [235]:
temp_srvc = []
for i in range(len(df3)):
    #print(i)
    temp_srvc.append('T');

In [236]:
df3['srvc'] = temp_srvc

/home/jason/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [237]:
df3

       cnt          time srvc
1      719  201707100000    T
2      712  201707100001    T
3      770  201707100002    T
4      810  201707100003    T
5      778  201707100004    T
6      869  201707100005    T
7      836  201707100006    T
8      797  201707100007    T
9      921  201707100008    T
10     880  201707100009    T
11     789  201707100010    T
12     795  201707100011    T
13     801  201707100012    T
14     809  201707100013    T
15     866  201707100014    T
16     915  201707100015    T
17     929  201707100016    T
18     853  201707100017    T
19     791  201707100018    T
20     771  201707100019    T
21     740  201707100020    T
22     740  201707100021    T
23     784  201707100022    T
24     823  201707100023    T
25     812  201707100024    T
26     806  201707100025    T
27     775  201707100026    T
28     786  201707100027    T
29     911  201707100028    T
30     867  201707100029    T
...    ...           ...  ...
1411  1269  201707102330    T
1412  1296  201707102331    T
1413  1070  201707102332    T
1414  1010  201707102333    T
1415  1009  201707102334    T
1416  1105  201707102335    T
1417  1111  201707102336    T
1418  1061  201707102337    T
1419  1063  201707102338    T
1420   998  201707102339    T
1421   982  201707102340    T
1422   949  201707102341    T
1423   922  201707102342    T
1424   900  201707102343    T
1425   868  201707102344    T
1426   910  201707102345    T
1427  1016  201707102346    T
1428  1241  201707102347    T
1429  1357  201707102348    T
1430  1222  201707102349    T
1431  1068  201707102350    T
1432  1035  201707102351    T
1433   999  201707102352    T
1434   948  201707102353    T
1435  1011  201707102354    T
1436  1211  201707102355    T
1437  1202  201707102356    T
1438  1234  201707102357    T
1439  1267  201707102358    T
1440  1095  201707102359    T

[1440 rows x 3 columns]

# CSV 추출

In [238]:
if df3['srvc'][1] == 'T':
    df3.to_csv('./raw_data/' + str_today + '_myshop_channel_hourly.csv', header=False)
else:
    df3.to_csv('./raw_data/' + str_today + '_gsshop_channel_hourly.csv', header=False)