In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [141]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

str_today = '20170712'

In [142]:
excel_result = pd.read_excel('./raw_data/유형별시청형태_채널_GS MY SHOP_시간별_1d_' + str_today + '.xlsx', sheetname='유형별>시간별_시청가구상세테이블',index_col=None, header=2)

In [143]:
index =  range(1, len(excel_result)+1)

In [144]:
temp = []
for i in index:
    temp.append(i)

In [145]:
rearranged_excel = pd.DataFrame(excel_result, columns={'조회시간':'time','시청가구':'cnt'})

In [146]:
drop_nan = rearranged_excel.reset_index(temp,drop=True)

In [147]:
drop_nan.rename(columns={'조회시간':'time'}, inplace=True)

In [148]:
drop_nan.rename(columns={'시청가구':'cnt'}, inplace=True)

In [149]:
df3 = drop_nan[drop_nan.time != '일평균']

In [150]:
df3

        time   cnt
1     00시00분  1573
2     00시01분  1502
3     00시02분  1396
4     00시03분  1325
5     00시04분  1263
6     00시05분  1272
7     00시06분  1267
8     00시07분  1371
9     00시08분  1330
10    00시09분  1222
11    00시10분  1160
12    00시11분  1131
13    00시12분  1133
14    00시13분  1108
15    00시14분  1152
16    00시15분  1130
17    00시16분  1569
18    00시17분  1607
19    00시18분  1423
20    00시19분  1417
21    00시20분  1406
22    00시21분  1442
23    00시22분  1401
24    00시23분  1357
25    00시24분  1328
26    00시25분  1379
27    00시26분  1411
28    00시27분  1648
29    00시28분  1553
30    00시29분  1474
...      ...   ...
1411  23시30분   881
1412  23시31분   839
1413  23시32분   828
1414  23시33분   858
1415  23시34분   993
1416  23시35분  1263
1417  23시36분  1406
1418  23시37분  1614
1419  23시38분  1429
1420  23시39분  1202
1421  23시40분  1207
1422  23시41분  1211
1423  23시42분  1237
1424  23시43분  1210
1425  23시44분  1494
1426  23시45분  1774
1427  23시46분  1509
1428  23시47분  1340
1429  23시48분  1222
1430  23시49분  1163
1431  23시50분  1074
1432  23시51분  1076
1433  23시52분  1057
1434  23시53분   987
1435  23시54분  1110
1436  23시55분  1336
1437  23시56분  1503
1438  23시57분  1697
1439  23시58분  1560
1440  23시59분  1317

[1440 rows x 2 columns]

In [151]:
df3.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440],
           dtype='int64', length=1440)

In [152]:
df3.iloc[:,0] = str_today + df3['time'].str.replace(r'(시|분)','')
#df3.loc['time'] = str_today + df3['time'].str.replace(r'(시|분)','')

/home/jason/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [153]:
df3

              time   cnt
1     201707120000  1573
2     201707120001  1502
3     201707120002  1396
4     201707120003  1325
5     201707120004  1263
6     201707120005  1272
7     201707120006  1267
8     201707120007  1371
9     201707120008  1330
10    201707120009  1222
11    201707120010  1160
12    201707120011  1131
13    201707120012  1133
14    201707120013  1108
15    201707120014  1152
16    201707120015  1130
17    201707120016  1569
18    201707120017  1607
19    201707120018  1423
20    201707120019  1417
21    201707120020  1406
22    201707120021  1442
23    201707120022  1401
24    201707120023  1357
25    201707120024  1328
26    201707120025  1379
27    201707120026  1411
28    201707120027  1648
29    201707120028  1553
30    201707120029  1474
...            ...   ...
1411  201707122330   881
1412  201707122331   839
1413  201707122332   828
1414  201707122333   858
1415  201707122334   993
1416  201707122335  1263
1417  201707122336  1406
1418  201707122337  1614
1419  201707122338  1429
1420  201707122339  1202
1421  201707122340  1207
1422  201707122341  1211
1423  201707122342  1237
1424  201707122343  1210
1425  201707122344  1494
1426  201707122345  1774
1427  201707122346  1509
1428  201707122347  1340
1429  201707122348  1222
1430  201707122349  1163
1431  201707122350  1074
1432  201707122351  1076
1433  201707122352  1057
1434  201707122353   987
1435  201707122354  1110
1436  201707122355  1336
1437  201707122356  1503
1438  201707122357  1697
1439  201707122358  1560
1440  201707122359  1317

[1440 rows x 2 columns]

In [154]:
temp_srvc = []
for i in range(len(df3)):
    #print(i)
    temp_srvc.append('T');

In [155]:
df3['srvc'] = temp_srvc

/home/jason/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [156]:
df3
#df3_arrange = pd.DataFrame(df3, columns=['cnt','time','srvc'])
#df3_arrange

              time   cnt srvc
1     201707120000  1573    T
2     201707120001  1502    T
3     201707120002  1396    T
4     201707120003  1325    T
5     201707120004  1263    T
6     201707120005  1272    T
7     201707120006  1267    T
8     201707120007  1371    T
9     201707120008  1330    T
10    201707120009  1222    T
11    201707120010  1160    T
12    201707120011  1131    T
13    201707120012  1133    T
14    201707120013  1108    T
15    201707120014  1152    T
16    201707120015  1130    T
17    201707120016  1569    T
18    201707120017  1607    T
19    201707120018  1423    T
20    201707120019  1417    T
21    201707120020  1406    T
22    201707120021  1442    T
23    201707120022  1401    T
24    201707120023  1357    T
25    201707120024  1328    T
26    201707120025  1379    T
27    201707120026  1411    T
28    201707120027  1648    T
29    201707120028  1553    T
30    201707120029  1474    T
...            ...   ...  ...
1411  201707122330   881    T
1412  201707122331   839    T
1413  201707122332   828    T
1414  201707122333   858    T
1415  201707122334   993    T
1416  201707122335  1263    T
1417  201707122336  1406    T
1418  201707122337  1614    T
1419  201707122338  1429    T
1420  201707122339  1202    T
1421  201707122340  1207    T
1422  201707122341  1211    T
1423  201707122342  1237    T
1424  201707122343  1210    T
1425  201707122344  1494    T
1426  201707122345  1774    T
1427  201707122346  1509    T
1428  201707122347  1340    T
1429  201707122348  1222    T
1430  201707122349  1163    T
1431  201707122350  1074    T
1432  201707122351  1076    T
1433  201707122352  1057    T
1434  201707122353   987    T
1435  201707122354  1110    T
1436  201707122355  1336    T
1437  201707122356  1503    T
1438  201707122357  1697    T
1439  201707122358  1560    T
1440  201707122359  1317    T

[1440 rows x 3 columns]

In [157]:
df3_new = df3

In [158]:
df3_result = pd.DataFrame(df3_new, columns=['cnt','time','srvc'])

In [159]:
df3_result

       cnt          time srvc
1     1573  201707120000    T
2     1502  201707120001    T
3     1396  201707120002    T
4     1325  201707120003    T
5     1263  201707120004    T
6     1272  201707120005    T
7     1267  201707120006    T
8     1371  201707120007    T
9     1330  201707120008    T
10    1222  201707120009    T
11    1160  201707120010    T
12    1131  201707120011    T
13    1133  201707120012    T
14    1108  201707120013    T
15    1152  201707120014    T
16    1130  201707120015    T
17    1569  201707120016    T
18    1607  201707120017    T
19    1423  201707120018    T
20    1417  201707120019    T
21    1406  201707120020    T
22    1442  201707120021    T
23    1401  201707120022    T
24    1357  201707120023    T
25    1328  201707120024    T
26    1379  201707120025    T
27    1411  201707120026    T
28    1648  201707120027    T
29    1553  201707120028    T
30    1474  201707120029    T
...    ...           ...  ...
1411   881  201707122330    T
1412   839  201707122331    T
1413   828  201707122332    T
1414   858  201707122333    T
1415   993  201707122334    T
1416  1263  201707122335    T
1417  1406  201707122336    T
1418  1614  201707122337    T
1419  1429  201707122338    T
1420  1202  201707122339    T
1421  1207  201707122340    T
1422  1211  201707122341    T
1423  1237  201707122342    T
1424  1210  201707122343    T
1425  1494  201707122344    T
1426  1774  201707122345    T
1427  1509  201707122346    T
1428  1340  201707122347    T
1429  1222  201707122348    T
1430  1163  201707122349    T
1431  1074  201707122350    T
1432  1076  201707122351    T
1433  1057  201707122352    T
1434   987  201707122353    T
1435  1110  201707122354    T
1436  1336  201707122355    T
1437  1503  201707122356    T
1438  1697  201707122357    T
1439  1560  201707122358    T
1440  1317  201707122359    T

[1440 rows x 3 columns]

# CSV 추출

In [160]:
if df3_result['srvc'][1] == 'T':
    df3_result.to_csv('./raw_data/' + str_today + '_myshop_channel_hourly.csv', header=False)
else:
    df3_result.to_csv('./raw_data/' + str_today + '_gsshop_channel_hourly.csv', header=False)