In [1]:
import pandas as pd

In [2]:
from datetime import datetime, timedelta

In [154]:
today = datetime.today() - timedelta(days=1)
str_today = today.strftime('%Y%m%d')

str_today = '20170710'

In [155]:
excel_result = pd.read_excel('./raw_data/유형별시청형태_채널_GS SHOP_시간별_1d_' + str_today + '.xlsx', sheetname='유형별>시간별_시청가구상세테이블',index_col=None, header=2)

In [156]:
index =  range(1, len(excel_result)+1)

In [157]:
temp = []
for i in index:
    temp.append(i)

In [158]:
rearranged_excel = pd.DataFrame(excel_result, columns={'조회시간':'time','시청가구':'cnt'})

In [159]:
drop_nan = rearranged_excel.reset_index(temp,drop=True)

In [160]:
drop_nan.rename(columns={'조회시간':'time'}, inplace=True)

In [161]:
drop_nan.rename(columns={'시청가구':'cnt'}, inplace=True)

In [162]:
df3 = drop_nan[drop_nan.time != '일평균']

In [163]:
df3.index

Int64Index([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,
            ...
            1431, 1432, 1433, 1434, 1435, 1436, 1437, 1438, 1439, 1440],
           dtype='int64', length=1440)

In [164]:
df3.iloc[:,1] = str_today + df3['time'].str.replace(r'(시|분)','')
#df3.loc['time'] = str_today + df3['time'].str.replace(r'(시|분)','')

/home/jason/anaconda3/lib/python3.5/site-packages/pandas/core/indexing.py:465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [165]:
df3

       cnt          time
1     3518  201707100000
2     3607  201707100001
3     3788  201707100002
4     3613  201707100003
5     3462  201707100004
6     3591  201707100005
7     3585  201707100006
8     3469  201707100007
9     3499  201707100008
10    3496  201707100009
11    3493  201707100010
12    3464  201707100011
13    3377  201707100012
14    3357  201707100013
15    3309  201707100014
16    3407  201707100015
17    3589  201707100016
18    3633  201707100017
19    3499  201707100018
20    3470  201707100019
21    3433  201707100020
22    3338  201707100021
23    3263  201707100022
24    3240  201707100023
25    3232  201707100024
26    3219  201707100025
27    3169  201707100026
28    3193  201707100027
29    3230  201707100028
30    3191  201707100029
...    ...           ...
1411  5217  201707102330
1412  5204  201707102331
1413  5419  201707102332
1414  5646  201707102333
1415  4920  201707102334
1416  4706  201707102335
1417  4682  201707102336
1418  4571  201707102337
1419  4675  201707102338
1420  4653  201707102339
1421  4324  201707102340
1422  3902  201707102341
1423  4156  201707102342
1424  4346  201707102343
1425  4996  201707102344
1426  6053  201707102345
1427  6233  201707102346
1428  6053  201707102347
1429  5533  201707102348
1430  4935  201707102349
1431  4432  201707102350
1432  4391  201707102351
1433  4236  201707102352
1434  4162  201707102353
1435  4233  201707102354
1436  4610  201707102355
1437  4646  201707102356
1438  4732  201707102357
1439  4309  201707102358
1440  4210  201707102359

[1440 rows x 2 columns]

In [166]:
temp_srvc = []
for i in range(len(df3)):
    #print(i)
    temp_srvc.append('L');

In [167]:
df3['srvc'] = temp_srvc

/home/jason/.local/lib/python3.5/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [168]:
df3

       cnt          time srvc
1     3518  201707100000    L
2     3607  201707100001    L
3     3788  201707100002    L
4     3613  201707100003    L
5     3462  201707100004    L
6     3591  201707100005    L
7     3585  201707100006    L
8     3469  201707100007    L
9     3499  201707100008    L
10    3496  201707100009    L
11    3493  201707100010    L
12    3464  201707100011    L
13    3377  201707100012    L
14    3357  201707100013    L
15    3309  201707100014    L
16    3407  201707100015    L
17    3589  201707100016    L
18    3633  201707100017    L
19    3499  201707100018    L
20    3470  201707100019    L
21    3433  201707100020    L
22    3338  201707100021    L
23    3263  201707100022    L
24    3240  201707100023    L
25    3232  201707100024    L
26    3219  201707100025    L
27    3169  201707100026    L
28    3193  201707100027    L
29    3230  201707100028    L
30    3191  201707100029    L
...    ...           ...  ...
1411  5217  201707102330    L
1412  5204  201707102331    L
1413  5419  201707102332    L
1414  5646  201707102333    L
1415  4920  201707102334    L
1416  4706  201707102335    L
1417  4682  201707102336    L
1418  4571  201707102337    L
1419  4675  201707102338    L
1420  4653  201707102339    L
1421  4324  201707102340    L
1422  3902  201707102341    L
1423  4156  201707102342    L
1424  4346  201707102343    L
1425  4996  201707102344    L
1426  6053  201707102345    L
1427  6233  201707102346    L
1428  6053  201707102347    L
1429  5533  201707102348    L
1430  4935  201707102349    L
1431  4432  201707102350    L
1432  4391  201707102351    L
1433  4236  201707102352    L
1434  4162  201707102353    L
1435  4233  201707102354    L
1436  4610  201707102355    L
1437  4646  201707102356    L
1438  4732  201707102357    L
1439  4309  201707102358    L
1440  4210  201707102359    L

[1440 rows x 3 columns]

# CSV 추출

In [169]:
if df3['srvc'][1] == 'T':
    df3.to_csv('./raw_data/' + str_today + '_myshop_channel_hourly.csv', header=False)
else:
    df3.to_csv('./raw_data/' + str_today + '_gsshop_channel_hourly.csv', header=False)