In [3]:
import pandas as pd

df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
   'B': ['B0', 'B1', 'B2', 'B3'],
   'C': ['C0', 'C1', 'C2', 'C3'],
   'D': ['D0', 'D1', 'D2', 'D3']},
   index=[0, 1, 2, 3])

In [4]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],'B': ['B4', 'B5', 'B6', 'B7'],'C': ['C4', 'C5', 'C6', 'C7'],'D': ['D4', 'D5', 'D6', 'D7']},index=[4, 5, 6, 7])

df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],'B': ['B8', 'B9', 'B10', 'B11'],'C': ['C8', 'C9', 'C10', 'C11'],'D': ['D8', 'D9', 'D10', 'D11']},index=[8, 9, 10, 11])

frames = [df1, df2, df3]

In [5]:
frames

[    A   B   C   D
 0  A0  B0  C0  D0
 1  A1  B1  C1  D1
 2  A2  B2  C2  D2
 3  A3  B3  C3  D3,     A   B   C   D
 4  A4  B4  C4  D4
 5  A5  B5  C5  D5
 6  A6  B6  C6  D6
 7  A7  B7  C7  D7,       A    B    C    D
 8    A8   B8   C8   D8
 9    A9   B9   C9   D9
 10  A10  B10  C10  D10
 11  A11  B11  C11  D11]

In [6]:
result = pd.concat(frames)

In [7]:
result

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [8]:
 df4 = pd.DataFrame({'B': ['B2', 'B3', 'B6', 'B7'],
   'D': ['D2', 'D3', 'D6', 'D7'],
   'F': ['F2', 'F3', 'F6', 'F7']},
   index=[2, 3, 6, 7])

In [9]:
df4

    B   D   F
2  B2  D2  F2
3  B3  D3  F3
6  B6  D6  F6
7  B7  D7  F7

In [10]:
result = pd.concat([df1, df4], axis=1)
result

     A    B    C    D    B    D    F
0   A0   B0   C0   D0  NaN  NaN  NaN
1   A1   B1   C1   D1  NaN  NaN  NaN
2   A2   B2   C2   D2   B2   D2   F2
3   A3   B3   C3   D3   B3   D3   F3
6  NaN  NaN  NaN  NaN   B6   D6   F6
7  NaN  NaN  NaN  NaN   B7   D7   F7

In [11]:
result = pd.concat([df1, df4], axis=1, join='inner')
result

    A   B   C   D   B   D   F
2  A2  B2  C2  D2  B2  D2  F2
3  A3  B3  C3  D3  B3  D3  F3

In [13]:
result = pd.merge(df1, df4, how='outer', on=['B'])
result

     A   B    C  D_x  D_y    F
0   A0  B0   C0   D0  NaN  NaN
1   A1  B1   C1   D1  NaN  NaN
2   A2  B2   C2   D2   D2   F2
3   A3  B3   C3   D3   D3   F3
4  NaN  B6  NaN  NaN   D6   F6
5  NaN  B7  NaN  NaN   D7   F7

# SR데이터 조인 테스트

In [96]:
sr_df = pd.DataFrame({
'SR번호': ['S090138196', 'S090141698', 'S090141764', 'S090141566'],
'SR내용': ['착용감이 좋고 옷도 예쁘네요', '원더브라 좋네요', '원더브라 최고요', '최고의 브랜드인듯']
})
sr_df

              SR내용        SR번호
0  착용감이 좋고 옷도 예쁘네요  S090138196
1         원더브라 좋네요  S090141698
2         원더브라 최고요  S090141764
3        최고의 브랜드인듯  S090141566

In [21]:
sr_wc_df = pd.DataFrame({
'SR번호': ['S090138196', 'S090141698', 'S090141764', 'S090141764', 'S090141566'],
'keywords': ['안녕', '원더브라', '원더브라','최고', '좋아'],
'cnt': ['1', '1', '1','1','1']
})
sr_wc_df

         SR번호 cnt keywords
0  S090138196   1       안녕
1  S090141698   1     원더브라
2  S090141764   1     원더브라
3  S090141764   1       최고
4  S090141566   1       좋아

In [22]:
result = pd.merge(sr_df, sr_wc_df, how='outer', on=['SR번호'])

In [23]:
result

       SR내용        SR번호 cnt keywords
0     안녕하세요  S090138196   1       안녕
1  원더브라 좋네요  S090141698   1     원더브라
2  원더브라 최고요  S090141764   1     원더브라
3  원더브라 최고요  S090141764   1       최고
4   예쁘고 좋아요  S090141566   1       좋아

In [95]:
dic = {'S090138196':'색감이 좋아요', 'S090141698':'착용감이 좋고 옷도 예쁘네요', 'S090141764': '원더브라 핏이 잘 살아요', 'S090141566':'최고의 브랜드인듯'}
dic

{'S090138196': '색감이 좋아요',
 'S090141566': '최고의 브랜드인듯',
 'S090141698': '착용감이 좋고 옷도 예쁘네요',
 'S090141764': '원더브라 핏이 잘 살아요'}

In [99]:
import pandas as pd
from konlpy.tag import Twitter
from collections import Counter

# Dictionary를 DataFrame으로 치환하기

In [220]:
dic_temp = {'SR번호':['S090138196','S090141698','S090141764','S090141566'],
'SR컨텐츠':['색감이 좋아요','착용감이 좋고 옷도 예쁘네요','원더브라 핏이 잘 살아요','최고의 브랜드인듯']
}
dic_temp['SR번호']

['S090138196', 'S090141698', 'S090141764', 'S090141566']

In [224]:
df_origin = pd.DataFrame.from_dict(dic_temp)
df_origin

         SR번호            SR컨텐츠
0  S090138196          색감이 좋아요
1  S090141698  착용감이 좋고 옷도 예쁘네요
2  S090141764    원더브라 핏이 잘 살아요
3  S090141566        최고의 브랜드인듯

In [226]:
sr_num_list = df_origin['SR번호'].values.tolist()
sr_num_list

['S090138196', 'S090141698', 'S090141764', 'S090141566']

In [227]:
sr_list = df_origin['SR컨텐츠'].values.tolist()
sr_list

['색감이 좋아요', '착용감이 좋고 옷도 예쁘네요', '원더브라 핏이 잘 살아요', '최고의 브랜드인듯']

In [228]:
t = Twitter()
row_nouns = t.nouns(sr_list[1])
row_nouns
row_counter = Counter(row_nouns)

In [229]:
row_nouns

['착용', '감', '옷']

In [239]:
sr_temp_srnum = []
sr_temp_contents = []
sr_temp_keyword = []
sr_temp_count = []

for i in range(len(sr_num_list)):
    row_nouns = t.nouns(sr_list[i])
    row_counter = Counter(row_nouns)
    
    for letter in row_counter:
        sr_temp_srnum.append(sr_num_list[i])
        sr_temp_contents.append(sr_list[i])
        sr_temp_keyword.append(letter)
        sr_temp_count.append(str(row_counter[letter]))

In [240]:
sr_temp_srnum

['S090138196',
 'S090141698',
 'S090141698',
 'S090141698',
 'S090141764',
 'S090141764',
 'S090141764',
 'S090141566',
 'S090141566',
 'S090141566']

In [241]:
sr_temp_srnum_dict = {}
sr_temp_srnum_dict['SR번호'] = sr_temp_srnum

df_srnum = pd.DataFrame.from_dict(sr_temp_srnum_dict)
df_srnum

         SR번호
0  S090138196
1  S090141698
2  S090141698
3  S090141698
4  S090141764
5  S090141764
6  S090141764
7  S090141566
8  S090141566
9  S090141566

In [242]:
sr_temp_keyword_dict= {}
sr_temp_keyword_dict['keywords'] = sr_temp_keyword
df_keywords = pd.DataFrame.from_dict(sr_temp_keyword_dict)
df_keywords

  keywords
0       색감
1        옷
2       착용
3        감
4       원더
5       브라
6        핏
7      브랜드
8        듯
9       최고

In [243]:
sr_temp_count_dict = {}
sr_temp_count_dict['wordcount'] = sr_temp_count
df_wc = pd.DataFrame.from_dict(sr_temp_count_dict)
df_wc

  wordcount
0         1
1         1
2         1
3         1
4         1
5         1
6         1
7         1
8         1
9         1

In [244]:
sr_tot = {'srnum': sr_temp_srnum, 'keywords': sr_temp_keyword, 'count': sr_temp_count, 'contents':sr_temp_contents}

In [245]:
sr_tot

{'contents': ['색감이 좋아요',
  '착용감이 좋고 옷도 예쁘네요',
  '착용감이 좋고 옷도 예쁘네요',
  '착용감이 좋고 옷도 예쁘네요',
  '원더브라 핏이 잘 살아요',
  '원더브라 핏이 잘 살아요',
  '원더브라 핏이 잘 살아요',
  '최고의 브랜드인듯',
  '최고의 브랜드인듯',
  '최고의 브랜드인듯'],
 'count': ['1', '1', '1', '1', '1', '1', '1', '1', '1', '1'],
 'keywords': ['색감', '옷', '착용', '감', '원더', '브라', '핏', '브랜드', '듯', '최고'],
 'srnum': ['S090138196',
  'S090141698',
  'S090141698',
  'S090141698',
  'S090141764',
  'S090141764',
  'S090141764',
  'S090141566',
  'S090141566',
  'S090141566']}

In [246]:
df_tot = pd.DataFrame.from_dict(sr_tot)

In [247]:
pd.DataFrame(df_tot, columns={'srnum','contents','keywords','count'})

        srnum         contents count keywords
0  S090138196          색감이 좋아요     1       색감
1  S090141698  착용감이 좋고 옷도 예쁘네요     1        옷
2  S090141698  착용감이 좋고 옷도 예쁘네요     1       착용
3  S090141698  착용감이 좋고 옷도 예쁘네요     1        감
4  S090141764    원더브라 핏이 잘 살아요     1       원더
5  S090141764    원더브라 핏이 잘 살아요     1       브라
6  S090141764    원더브라 핏이 잘 살아요     1        핏
7  S090141566        최고의 브랜드인듯     1      브랜드
8  S090141566        최고의 브랜드인듯     1        듯
9  S090141566        최고의 브랜드인듯     1       최고